.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.login-container {
  margin-top: -5%; 
  position: relative;
  z-index: 1;
  background-color: #ffffff; 
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; 
  margin: 2rem auto; 
}

.form-control {
  border-radius: 4px; 
}

.invalid-feedback {
  color: #dc3545; 
}


